html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #000000;
  font-family: "MS Gothic";
  color: white;
  font-size: 20px;
  text-align: center;
}
.logo {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABOSURBVFhH7dYhDgAgCEBR0M2ZvIjR+3hrL2PBwgkgWP4vEN9GQUtfJom0Td9iFZ/fAgAAAAAAAABoHTv1D9g9vsXiBAAAAAAAAMBngMgDcRoF6bXOJOUAAAAASUVORK5CYII=");
  font-size: 64px;
  padding: 10px;
  font-weight: bold;
}